@page "{testId?}/{questionId?}"
@model Tests.Pages.EditTestPageModel
@{
    int i = 0;
}
<h1 class="display-header-1">Редактирование (удаление) вопросов теста</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img src="~/icons/question.svg" class="img-fluid" />
        </div>
        <div class="col-9">
            <table class="table table-striped table-warning">
                <caption class="caption-top display-9">@Model.SelectedTest.TestTitle</caption>

                <tbody>
                    @foreach (var e in Model.QuestionBlocks)
                    {
                        <tr>
                            <td class="fw-bold">@(++i))</td>
                            <td title="Для удаления или редактирования воспользуйтесь кпопками справа">@e.Question</td>
                            <td><a class="btn btn-danger btn-sm" asp-page="EditTestPage" asp-route-testId="@Model.SelectedTest.Id" asp-route-questionId="@e.Id" asp-page-handler="DeleteQuestion">Удалить</a></td>
                            <td><a class="btn btn-warning btn-sm" asp-page="EditQuestionBlockPage" asp-route-testId="@Model.SelectedTest.Id" asp-route-questionId="@e.Id">Редактировать</a></td>
                        </tr>
                        <tr>
                            <td class="bg-silver" colspan="4">
                                <table>
                                    <caption class="caption-top small">Ответы на вопрос @(i):</caption>
                                    <tr>
                                        <td class="badge text-dark">1) @e.Answer1</td>
                                        <td class="badge text-dark">2) @e.Answer2</td>
                                        <td class="badge text-dark">3) @e.Answer3</td>
                                        <td class="badge text-dark">4) @e.Answer4</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
