@page "{id?}"
@model Tests.Pages.SolvingTestPageModel
@{
}

    <h1 class="display-7">@Model.CurrentTest.TestTitle</h1>
    <hr class="my-2 border border-2 border-primary"/>

<div class="col-10 offset-1 bg-silver border border-2 rounded-3 border-success my-2 p-2">
    <div class="display-7 text-success">@TempData["Title"]</div>
    <div class="">@Html.Raw(TempData["result"]) </div>
    <div class="display-blue-9">Количество вопросов - @Html.Raw(Model.Blocks.Count()) </div>
    <div class="display-blue-9">Число правильных ответов - @Html.Raw(Model.CountRightAnswers) </div>
    <div class="display-blue-9">Оценка за тест - @Html.Raw(Model.Score) </div>
    @if(TempData["Title"].ToString() != "Параметры теста:")
    {
    <a class="form-control btn btn-secondary display-blue-9" asp-page="SolvingTestPage" asp-route-od="@Model.CurrentTest.Id">Пройти тест заново</a>
    }
</div>

@if (Model.CurrentTest == null)
{
    <div class="alert">Произошла какая-то ошибка с загрузкой теста, <a class="link" asp-page="TestPage">вернитесь</a> на страницу выбора теста</div>
}
else
{
    <hr class="my-2 border border-2 border-primary"/>
    <form method="post" class="col-12 col-md-10 offset-md-1">
        @for(int i = 0; i < Model.Count; i++)
        {
            <div class="m-2">
                <div class="form-check">
                    <label class="display-blue-9"><span class="fw-bold">@(i+1).</span> @Model.Blocks.ElementAt(i).Question</label>
                    <input hidden name="currentTestId" value="@Model.CurrentTest.Id">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="@("answer" + Model.Blocks.ElementAt(i).Id)" name="@("answer" + (i + 1).ToString())" value="1">
                    <label class="form-check-label " for="answer + @Model.Blocks.ElementAt(i).Id">@Html.Raw(Model.Blocks.ElementAt(i).Answer1)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="@("answer" + Model.Blocks.ElementAt(i).Id)" name="@("answer" + (i+1).ToString())" value="2">
                    <label class="form-check-label" for="answer + @Model.Blocks.ElementAt(i).Id">@Html.Raw(Model.Blocks.ElementAt(i).Answer2)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="@("answer" + Model.Blocks.ElementAt(i).Id)" name="@("answer" + (i+1).ToString())" value="3">
                    <label class="form-check-label" for="answer + Model.Blocks.ElementAt(i).Id">@Html.Raw(Model.Blocks.ElementAt(i).Answer3)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="@("answer" + Model.Blocks.ElementAt(i).Id)" name="@("answer" + (i+1).ToString())" value="4">
                    <label class="form-check-label" for="answer + @Model.Blocks.ElementAt(i).Id">@Html.Raw(Model.Blocks.ElementAt(i).Answer4)</label>
                </div>
            </div>
        }
        <input class="btn btn-outline-primary form-control" type="submit" value="Отправить тест на проверку">
    </form>   
}
<hr class="my-4 border border-2 border-secondary" />



