@page
@model Tests.Pages.StatisticPageModel
@{
}
<h1 class="display-header-1">Статистика</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img src="~/icons/statistics.svg" class="img-fluid" />
        </div>
        <div class="col-9">
            <table class="table table-striped table-secondary">
                <thead>
                    <tr>
                        <td class="bg-primary text-white fw-bold">Имя</td>
                        <td class="bg-primary text-white fw-bold">Почта</td>
                        <td class="bg-primary text-white fw-bold">ID</td>
                        <td class="bg-primary text-white fw-bold"></td>
                    </tr>
                </thead>
                @foreach (var e in Model.TestingUsersList)
                {
                    <tr>
                        <td><a class="link" asp-page="/UserStatistic" asp-route-id="@e.Id">@e.AliasName</a></td>
                        <td>@e.Email</td>
                        <td>@e.Id</td>
                        <td title="Посмортеть статистику пользователя">
                            <a asp-page="/UserStatistic" asp-route-id="@e.Id"><img src="~/icons/statistics.svg" style="height:1.5rem"/></a>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
