@page "{option?}"
@model Tests.Pages.TestPageModel
@{
}
<h1>Поиск, фильтрация тестов</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Фильтры</h2>
            <form method="post">

                <div class="form-check">
                    <select class="form-select" asp-for="@Model.InputModel.Language">
                        @foreach (var e in Model.Languages)
                        {
                            <option class="" value="@e">@e</option>
                        }
                    </select>
                </div>

                <div class="form-check">
                    <select class="form-select" asp-for="@Model.InputModel.Level">
                        @foreach (var e in Model.DifficaltyLevels)
                        {
                            <option class="" value="@e">@e</option>
                        }
                    </select>
                </div>

                <div class="form-check">
                    <input class="btn btn-outline-secondary form-control" type="submit" />
                </div>
            </form>
        </div>

        <div class="col-8">
            <h2>Тесты</h2>
            @if (Model.SelectedTests.Count() == 0)
            {
                    <div class="display-9">По заданным критериям тестов не найдено</div>
            }
            else
            {
                @foreach (var e in Model.SelectedTests)
                {
                    <a class="btn btn-outline-info m-1" asp-page="SolvingTestPage" asp-route-id="@e.Id">@e.TestTitle</a>
                }
            }
        </div>
    </div>
</div>