@page "{id?}"
@model Tests.Pages.UserStatisticModel
@{
}

<table class="table table-striped table-secondary table-hover table-sm">
    <caption class="display-7" style="caption-side:top;">Результаты прохождения тестов для пользователя @Model.SelectedUser.AliasName</caption>
    <thead>
        <tr>
            <td class="bg-primary text-white fw-bold">Дата</td>
            <td class="bg-primary text-white fw-bold">Правильные ответы</td>
            <td class="bg-primary text-white fw-bold">Неправильные ответы</td>
            <td class="bg-primary text-white fw-bold">Баллы (из 100)</td>
        </tr>
    </thead>
    @foreach (var e in Model.StatisticModels)
    {
        <tr>
            <td>@e.DatePassing</td>
            <td>@e.RightAnswersCount</td>
            <td>@e.WrongAnswersCount</td>
            @if(@e.RelativeResult >= 90)
            {
                <td class="fw-bold text-danger">@e.RelativeResult</td>
            }
            else if (@e.RelativeResult >= 70 && e.RelativeResult < 90)
            {
                <td class="fw-bold text-success">@e.RelativeResult</td>
            }
            else
            {
                <td class="text-primary">@e.RelativeResult</td>
            }
        </tr>
    }
</table>
